@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
    src: url("../fonts/HelveticaNeueCyr-Bold.eot") format("eot");
    src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf");
    src: url("../fonts/HelveticaNeueCyr-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot") format("eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf");
    src: url("../fonts/HelveticaNeueCyr-Roman.svg") format("svg");
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'HelveticaNeueCyr-Italic';
    src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
    src: url("../fonts/HelveticaNeueCyr-Italic.eot") format("eot");
    src: url("../fonts/HelveticaNeueCyr-Italic.ttf") format("ttf");
    src: url("../fonts/HelveticaNeueCyr-Italic.svg") format("svg");
    font-weight: 500;
    font-style: normal;  
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url("../fonts/ProximaNova-Bold.woff") format("woff");
    src: url("../fonts/ProximaNova-Bold.eot") format("eot");
    src: url("../fonts/ProximaNova-Bold.ttf") format("ttf");
    font-weight: bold;
    font-style: normal; 
} 

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("../fonts/ProximaNova-Regular.woff") format("woff");
    src: url("../fonts/ProximaNova-Regular.eot") format("eot");
    src: url("../fonts/ProximaNova-Regular.ttf") format("ttf");
    font-weight: 500;
    font-style: normal; 
}

@font-face {
    font-family: 'fontawesome';
    src: url("../fonts/fontawesome.woff") format("woff");
    src: url("../fonts/fontawesome.eot") format("eot");
    src: url("../fonts/fontawesome.ttf") format("ttf");
    font-weight: 500;
    font-style: normal; 
}
 
