$Proxima: 'ProximaNova-Bold', Arial, sans-serif;
$ProximaRegular: 'ProximaNova-Regular', Arial, sans-serif;
$NeueCyr: 'HelveticaNeueCyr-Roman', Arial, sans-serif;


$main-color: #ff6c6c;
$light-text-color: #b2bec3;
$bg-dark-color: #1e272e;
$bg-gray-color: #4b5258;
$purple-color: #7239bc; 
$yellow-color: #edc65c;
$border-gray: #c8c9ca;
$gray-light-color: #d1d8db;
$text-gray: #5f6574;